.carousel-container {
  height: 31rem;
  width: 100%;
  background: #eb533b;
  position: relative;
}

.carousel {
  position: unset !important;
}

.carousel-control-prev, .carousel-control-next {
  width: 8% !important;
}

.one {
  display: grid;
  grid-template-columns: 2fr 3fr;

  .item {
    padding: 3rem 0 0 5rem;
    font-size: 1.5rem;
    font-family: "NeueMontreal";
    background-color: #eb533b;
    color: black;
  }

  .description {
    font-family: "NeueMontrealItalicMedium";
    background-color: #eb533b;
    color: black;
    width: 85%;
    padding-left: 4rem;
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}

.carousel-indicators [data-bs-target] {
  background-color: black !important;
}
