.my-button {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 7px 20px 7px;
  border-left: 2px solid;
  background-color: #ff00bf23;
  color: #ff00c1;
  font-family: "Roboto Mono", monospace;
  white-space: nowrap;
  text-align: left;
}