.footer-container {
  background-color: white;
  height: 10rem;
  padding: 2.5rem 4.5rem;
}

.footer-content {
  font-size: 1.4rem;
  font-family: "NeueMontrealMedium";
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  cursor: pointer;

  &:visited {
    color: black;
  }

  &.underline-effect:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    height: 1.3em;
    width: 100%;
    border-bottom: 1.5px solid;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }

  &.underline-effect:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
