.pen-stroke {
  position: relative;
  display: inline;
  color: #eb533b;

  svg {
    position: absolute;
    top: 1.2em;
    left: 0;
    width: 100%;
    overflow: visible;

    path {
      fill: none;
      stroke: #eb533b;
      stroke-linecap: round;
      stroke-linejoin: round;
    //   vector-effect: non-scaling-stroke;
    }
  }
}
