* {
  margin: 0;
}

$offWhite: #e1dfdd;
$myOrange: #eb533b;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@380&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@font-face {
  font-family: "NeueMontreal";
  src: url("./utils/Fonts/NMontreal/Neue\ Montreal\ Regular\ 400.otf");
}

@font-face {
  font-family: "NeueMontrealMedium";
  src: url("./utils/Fonts/NMontreal/Neue\ Montreal\ Medium\ 500.otf");
}

@font-face {
  font-family: "NeueMontrealLight";
  src: url("./utils/Fonts/NMontreal/Neue\ Montreal\ Light\ 300.otf");
}

@font-face {
  font-family: "NeueMontrealItalic";
  src: url("./utils/Fonts/NMontreal/Neue\ Montreal\ Light\ Italic\ 300.otf");
}

@font-face {
  font-family: "NeueMontrealItalicMedium";
  src: url("./utils/Fonts/NMontreal/Neue\ Montreal\ Medium\ Italic\ 500.otf");
}

@font-face {
  font-family: "NeueMontrealBold";
  src: url("./utils/Fonts/NMontreal/Neue\ Montreal\ Bold\ 700.otf");
}

@font-face {
  font-family: "AvantGardeBold";
  src: url("./utils/Fonts/AvantGordeGothic/AvantGarde-Bold.otf");
}

@font-face {
  font-family: "AvantGardeBook";
  src: url("./utils/Fonts/AvantGordeGothic/AvantGarde-Book.ttf");
}

