$offWhite: #e1dfdd;
$myOrange: #eb533b;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@380&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@font-face {
  font-family: "NeueMontreal";
  src: url("./Utils/Fonts/NMontreal/NeueMontrealRegular400.otf");
}

@font-face {
  font-family: "NeueMontrealMedium";
  src: url("./Utils/Fonts/NMontreal/NeueMontrealMedium500.otf");
}

@font-face {
  font-family: "NeueMontrealLight";
  src: url("./Utils/Fonts/NMontreal/NeueMontrealLight300.otf");
}

@font-face {
  font-family: "NeueMontrealItalic";
  src: url("./Utils/Fonts/NMontreal/NeueMontrealLightItalic300.otf");
}

@font-face {
  font-family: "NeueMontrealItalicMedium";
  src: url("./Utils/Fonts/NMontreal/NeueMontrealMediumItalic500.otf");
}

@font-face {
  font-family: "NeueMontrealBold";
  src: url("./Utils/Fonts/NMontreal/NeueMontrealBold700.otf");
}


* {
  margin: 0;
  // font-family: "NeueMontreal";
}

